@font-face {
	font-family: "MyMadelynTrial";
	src: url("../fonts/Madelyn-Trial-Regular.ttf")
}

@font-face {
	font-family: "MyKudryashevDisplay-Sans";
	src: url("../fonts/KudryashevDisplay-Sans.ttf")
}



body {
    background-color:  #f7f1e9;
    font-family: Inter;
    color: hsla(0, 0%, 0%, 1);
    font-size: 14px;
    line-height: 1.4em;
}

.master-column-wrapper {
display: flex;
    justify-content: center;
flex-direction: column;
}

h3 {
   margin-bottom: 0px;
    justify-content: flex-end;
    color: #68513f;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}


.page-title {
 background: transparent;
}

.page-title h1 {
 background: transparent;
}
.header {
 max-height :120px;
background-color :#78452a;
}

.header.normal {
   background-color: #78452a;
}

.header.normal .header-logo {
    background-color: #78452a;
}
.header.normal .header-menu {
    background-color:#78452a;
}

 .responsive-nav-wrapper-parent {
    background-color:  #fff0;
}

.responsive-nav-wrapper .personal-button span {
  background-position-y: center !important;
}

.swiper .swiper-slide {
     display: flex;
    justify-content: flex-start;
}
.item-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-box {
    height: auto;
    width: 250px;
    border-radius: 10px;
}


.homepage-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 2em; 
 margin-top: 5em;
}

.homepage-grid-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.hero-big-image {
    margin-left: 88px;
    border-radius: 10px;
	height: 300px;
}

.hero-big-video {
    margin-right: 50px;
    border-radius: 10px;
    height: 300px !important;
    width: auto;
}

.hero-center-title {
    font-size: 60px;
}

@font-face {
	font-family: "MyMelodrama";
	src: url("../fonts/Melodrama-Medium.ttf")
}


h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "MyMelodrama";
    color: black;
    line-height: 1.4em;
    font-weight: 100;
}

.blog-post, .post-picture, .news-item { 
  border-radius : 10px;
}


@media (max-width:798px) {
.header-logo {
display : none;
}
}

.add-to-cart-button {
font-size: 18px;
border-radius: 15px;
}


/*modal compose creme*/
.kc-modal {
  z-index: 1100;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}

.kc-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.kc-modal-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 text-align: center;
display:flex;
}

.kc-modal-content { 
  background-color: #fefefe;
  max-width: 650px;
   min-width: 320px;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.kc-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.kc-close:hover,
.kc-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.prices {
     margin-bottom: -10px;
}

.swiper-button-disabled {
      background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important;
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3))  !important;
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3))  !important;
}


.slide-in-right{-webkit-animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both}

.slide-out-right{-webkit-animation:slide-out-right 1.5s ease-in-out both;animation:slide-out-right 1.5s ease-in-out both}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 8:37:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 9:7:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}@keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}

/*thme change*/
.topic-block {
    margin: 0;
    padding: 0;
    text-align: center;
}
/*homepage*/

body {
    background-color: #f7f1e9;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    color: #403A3A;
    padding-left: 15%;
    padding-right: 15%;

}

h2 {
    color: #79462B;
    text-align: center;
    font-size: 2.5em;
}

h3 {
    color: #79462B;
    text-align: start;
    font-size: 1.45em;
}


.kali-button {
    text-align: center;
    background-color: #78452a;
    padding: 0.25em 1em;
    font-size: 1.40em;
    border-radius: 0.80em;
    color: #f7f1e9;
    border: 0;
}



.compose-ta-kalicrem-btn {
    text-align: start;
}

.banniere{
    position: relative;
}

.banniere-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 100%;
    width: 80%;
    text-align: center;
    margin-top: 5em;
}
.banniere-title{
    color: #f7f1e9;
}

.slogan {
    display: flex;
    justify-content: center;
    margin-top:-1em;
}

.slogan-text {
    background-color: #78452a;
    width: 100%;
    height: 25%;
    padding: 1em;
    text-align: center;
    color: #f7f1e9;
    margin: auto;
}

.kalistory {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.kalistory-img {
    max-width: 50%;
    display: flex;
}

.kalistory-text {
    max-width: 50%;
    margin-bottom: 1em;
    text-align: center;
}


.valeurs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.valeurs-text {
    max-width: 50%;
    margin-bottom: 1em;
    text-align: center;
}

.valeurs-img {
    max-width: 50%;
    display: flex;
}


.bases {
    margin: 1em;
    display: flex;
    flex-direction: column;

}

.bases-content {
    margin: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.base-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-item-img {
    width: 30%;
    clip-path: circle(45px at center);
}

.composetacreme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F9F0E3;
    background-image: url("background-low-opacity.png");
    background-repeat: no-repeat;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-img-home {
    max-width: 100%;
    height: auto;
}

.page-button {
    display: flex;
    justify-content: start;
}



.fade-in {
    -webkit-animation: fade-in 1.5s linear;
    animation: fade-in 1.5s linear;
}

.composetacreme-text {
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 800px) {


    .kalistory {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .kalistory-img {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .kalistory-text {
        max-width: 100%;
    }

    .valeurs {
        flex-flow: column-reverse;
        justify-content: flex-end;
        align-items: center;

    }

    .valeurs-img {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;

    }

    .valeurs-text {
        max-width: 100%;
    }

    .bases-content {
        flex-flow: column;
        align-items: center;

    }

    .composetacreme {
        flex-direction: column;
    }

    .slogan-text {
        font-size: medium;
    }

    .banniere-content{
        margin-top: 0em;
        bottom: 0%;
        font-size: 0.7em;
    }

    .composetacreme-text {
        justify-content: center;
        text-align: center;
    }

    h3{
        text-align: center;
    }
    .responsive-img-home {
        max-width: 70%;
        height: auto;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .banniere-content{
        bottom: 50%;
    }
}

.banniere-button{
    justify-content: center;
}

.content-button {
    justify-content: center;
}