@font-face {
	font-family: "MyMadelynTrial";
	src: url("../fonts/Madelyn-Trial-Regular.ttf")
}

@font-face {
	font-family: "MyKudryashevDisplay-Sans";
	src: url("../fonts/KudryashevDisplay-Sans.ttf")
}

@font-face {
	font-family: "MyPlayfairDisplay-Regular";
	src: url("../fonts/PlayfairDisplay-Regular.ttf")
}

@media (min-width: 1347px) {
    .header.normal .header-menu>ul>li .sublist li a {
        font-family: "MyPlayfairDisplay-Regular", Times New Roman, serif;
    }
    .header.normal .header-menu-parent {
        margin-top: 0.5em;
    }

    .header.normal .header-menu>ul>li .sublist {        
        background-color: #78452a;
    }
.header.normal .header-menu>ul>li:hover>div>.with-subcategories {
        background-color: transparent;
    }
}
@media (min-width: 1025px) {
    .header.normal .responsive-nav-wrapper-parent {
        top: 10px;
    }
}

@media all and (max-width: 4000px) {
.search-box.store-search-box {
	display: none;
	top: 0;
	left: 0;
	z-index: 1070;
	width: 100%;
    margin: 2px 0 0;
	padding: 25px 10px 20px;
	background-color: #fff;
	text-align: center;
}
.search-box.store-search-box.open {
    display: block;
	position: fixed !important;
}

.responsive-nav-wrapper .search-wrap {
        display: inline-block;
    }
}

.mega-menu span {
  color:white;
}


@media (max-width: 1024px) {
    .responsive-nav-wrapper.stick {
        background-color: #79462B;
    }
.footer {
        padding-top: 25px;
  background-color: #79462b !important;
    }
}

    .breadcrumb-title-wrapper {
background-color: transparent;
}

.page-title h1:before {
 display:none !important;
}
.product-details-page:before, .page-title:after {
 display:none !important;
}

.product-essential  {
background-color: transparent;
}

.product-details-page {
background-color: transparent;
}

.product-details-page form {
background-color: transparent;
}

.gallery  {
background-color: transparent;
}

.cloudzoom {
    border: 1px solid #79462B !important;
    max-width: 350px;
}

@media (min-width: 1347px) {
    .master-wrapper-content {
         margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    .home-page .topic-block {
        margin-bottom: 0;
    }
.footer {
        padding-top: 25px;
  background-color: #79462b !important;
    }
}

@media (min-width: 1281px) {
    .master-wrapper-content {
        margin-bottom: 0; 
    }

@media (min-width: 1901px) {
    .master-wrapper-content {
        max-width: max-content;
    }
}

@media (min-width: 1025px) {
    .header.normal {
        padding:0;         
       background-color: #fff;
    }
.footer {
         padding-top: 25px;
  background-color: #79462b !important;
    }
}

.footer {
        background-color: #79462b !important;
    }

.topic-block {
        max-width: max-content;
        padding: 0;
    }
}
.center-1 {
    margin: 0;
}

body {
    background-color:  #f7f1e9;
    font-family: Inter;
    color: hsla(0, 0%, 0%, 1);
    font-size: 14px;
    line-height: 1.4em;
}

center-1 {
background-color: transparent;
}

.master-column-wrapper {
display: flex;
    justify-content: center;
flex-direction: column;
background-color: transparent;
}

h3 {
   margin-bottom: 0px;
    justify-content: flex-end;
    color: #68513f;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}


.page-title {
 background: transparent;
}

.page-title h1 {
 background: transparent;
}
.header {
 max-height :120px;
 max-width:none;
 background-color :#78452a;
}

.header.normal {
   background-color: #78452a;
}

.header.normal .header-logo {
    background-color: #78452a;
}
.header.normal .header-menu {
    background-color:#78452a;
}

@media (max-width: 1024px) {
    .header .header-logo, .responsive-nav-wrapper-parent {
        background-color: #78452a;
    }
}

 .responsive-nav-wrapper-parent {
    background-color:  #fff0;
}

.responsive-nav-wrapper .personal-button span {
  background-position-y: center !important;
}


.item-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item-box {
    height: auto;
    width: 250px;
    border-radius: 10px;
}


.homepage-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 2em; 
 margin-top: 5em;
}

.homepage-grid-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.hero-big-image {
    margin-left: 88px;
    border-radius: 10px;
	height: 300px;
}

.hero-big-video {
    margin-right: 50px;
    border-radius: 10px;
    height: 300px !important;
    width: auto;
}

.hero-center-title {
    font-size: 60px;
}

@font-face {
	font-family: "MyMelodrama";
	src: url("../fonts/Melodrama-Medium.ttf")
}


h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "MyPlayfairDisplay-Regular";
    color:#79462B;
    line-height: 1.4em;
    font-weight: 100;
}

.blog-post, .post-picture, .news-item { 
  border-radius : 10px;
}


@media (max-width:798px) {
.header-logo {
display : none;
}
}

.add-to-cart-button {
font-size: 18px;
border-radius: 15px;
}


.prices {
     margin-bottom: -10px;
}

.slide-in-right{-webkit-animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both}

.slide-out-right{-webkit-animation:slide-out-right 1.5s ease-in-out both;animation:slide-out-right 1.5s ease-in-out both}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 8:37:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-30 9:7:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}@keyframes slide-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}}

/*thme change*/
.topic-block {
    margin: 0;
    padding: 0;
    text-align: center;
}
/*homepage*/

body {
    background-color: #f7f1e9;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    color: #403A3A;
    padding-left: 15%;
    padding-right: 15%;
   text-align : justify;
}

h2 {
    color: #79462B;
    text-align: center;
    font-size: 2.5em;
}

h3 {
    color: #79462B;
    text-align: start;
    font-size: 1.45em;
}


.kali-button {
    text-align: center;
    background-color: #78452a;
    padding: 0.5em 1em;
    font-size: 1.8em;
    border-radius: 1em;
    color: #f7f1e9;
    border: 0;
}



.compose-ta-kalicrem-btn {
    text-align: start;
}

.banniere{
    position: relative;
}

.banniere-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 100%;
    width: 80%;
    text-align: center;
    margin-top: 5em;
}
.banniere-title{
    color: #f7f1e9;
}

.slogan {
    display: flex;
    justify-content: center;
    margin-top:-1em;
}

.slogan-text {
    background-color: #78452a;
    width: 100%;
    height: 25%;
    padding: 1em;
    text-align: center;
    color: #f7f1e9;
    margin: auto;
}

.kalistory {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.kalistory-img {
    max-width: 50%;
    display: flex;
}

.kalistory-text {
    max-width: 50%;
     margin: 1em;
    text-align: center;
}


.valeurs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.valeurs-text {
    max-width: 50%;
     margin: 1em;
    text-align: center;
}

.valeurs-img {
    max-width: 50%;
    display: flex;
}


.bases {
    margin: 5em;
    display: flex;
    flex-direction: column;

}

.bases-content {
    margin: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.base-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-item-img {
    width: 30%;
    clip-path: circle(45px at center);
}

.composetacreme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F9F0E3;
    background-image: url("/images/uploaded/FOND OMBRES.png");
    background-repeat: no-repeat;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-img-home {
    max-width: 100%;
    height: auto;
}

.page-button {
    display: flex;
    justify-content: start;
}



.fade-in {
    -webkit-animation: fade-in 1.5s linear;
    animation: fade-in 1.5s linear;
}

.composetacreme-text {
    display: flex;
    flex-direction: column;
   margin: 1em;
}

@media all and (max-width: 800px) {


    .kalistory {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .kalistory-img {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .kalistory-text {
        max-width: 100%;
    }

    .valeurs {
        flex-flow: column-reverse;
        justify-content: flex-end;
        align-items: center;

    }

    .valeurs-img {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;

    }

    .valeurs-text {
        max-width: 100%;
    }

    .bases-content {
        flex-flow: column;
        align-items: center;

    }

    .composetacreme {
        flex-direction: column;
    }

    .slogan-text {
        font-size: medium;
    }

    .banniere-content{
        margin-top: 0em;
        bottom: 0%;
        font-size: 0.7em;
       justify-content: flex-end;
       margin-bottom:1.5em;
    }

    .composetacreme-text {
        justify-content: center;
        text-align: center;
    }

    h3{
        text-align: center;
    }
    .responsive-img-home {
        max-width: 70%;
        height: auto;
    }

    .page-button {
        justify-content: center;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .banniere-content{
        bottom: 50%;
    }
}

.banniere-button{
    justify-content: center;
}

.content-button {
    justify-content: center;
}


/* COMPOSE TA CREME */

.base-item-img {
    width: 30%;
    clip-path: circle(45px at center);
} 

.compose-bannier-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.compose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.compose-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 2em;

}

.compose-illustration {
    border: 1px solid #79462B !important;
    max-width: 350px;
    align-self: center;
}


.compose-choice {
    display: flex;
    flex-direction: column;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}


.compose-choice h1 {
    color: #79462B;
    align-self: center;
    display: contents;
}

.swiper-subtitle {
    color: #79462B;
    align-self: center;
    text-align: center;
    font-size: medium;
}

section {
    display: flex;
    flex-flow: row wrap;
    margin:0.5em;
}

section>div {
    flex: 1;
}

input[type="radio"] {
    display: none;

    &:not(:disabled)~label {
        cursor: pointer;
    }
}

.compose-choice label {
    max-height: 135px;
    /* height: 80%; */
    max-width: 450px;
    display: block;
    background:  #F8F2EA;
    border: 1px solid #79462B;
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    text-align: start;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    color:#79462B;
    font-size:smaller;
}

.compose-choice label > a {
    text-decoration: underline;
}

.compose-choice label > h2 {
    margin-top:0.25em;
    padding: 0;
    text-align: left;
}


.compose-choice label > p {
    margin:0;
    padding: 0;
}

.compose-choice input[type="radio"]:checked+label {
    background-color: #79462B;
    color: #F8F2EA !important;
    &::after {
      color: #F8F2EA !important;
    }
}

.compose-choice input[type="radio"]:checked+label h2 {
    background-color: #79462B;
    color: #F8F2EA ;
    &::after {
      color: #F8F2EA;
    }
}

.compose-choice input[type="radio"]:checked+label a {
    background-color: #79462B;
    color: #F8F2EA ;
    &::after {
      color: #F8F2EA;
    }
}

.compose-choice input[type="radio"]:checked+label p {
    background-color: #79462B;
    color: #F8F2EA ;
    &::after {
      color: #F8F2EA;
    }
}


.compose-choice p {
    font-weight: 900;
}

.swiper {
    max-width: 400px;
    height: 100%;
}

.compose-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.swiper-button-prev {
    position: unset !important;

}

.swiper-button-prev:after {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.40em !important;
    background-color: #78452a;
    padding: 0.25em 1em;
    font-size: 1.40em;
    border-radius: 0.80em;
    color: #f7f1e9;
    border: 0;
    line-height: unset !important;
    content: '<' !important;

}

.swiper-button-next:after {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.40em !important;
    text-align: center;
    background-color: #78452a;
    padding: 0.25em 1em;
    font-size: 1.20em;
    border-radius: 0.80em;
    color: #f7f1e9;
    border: 0;
    content: 'ETAPE SUIVANTE' !important;
    line-height: unset !important;
}

.swiper-button-next {
    position: unset !important;
    width: unset !important;

}

.swiper-style {
    display: flex;
    flex-direction: column;
}
@media all and (max-width: 768px) {
    .compose {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .compose-img{
        width: 50%;
    }

    .compose-illustration {
        max-width: 100%;
        align-self: center;
    }
}

@media all and (max-width: 350px) {
    .swiper {
        max-width:320px;
        height: 100%;
    }
.compose-choice {
max-width:280px;
}
}

@media  all and (min-width: 1024px) {
    .compose {
        justify-content: center;
    }
    .compose-illustration {
        max-width: 70%;
        align-self: center;
    }
}