@{
    ViewData["Title"] = "Home page";
}


<script asp-exclude-from-bundle="true" src="_framework/blazor.server.js" asp-location="Footer"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    @(await Html.RenderComponentAsync<Nop.Plugin.Cart.Form.Views.CartForm>(RenderMode.Server))
</div>
