
# ── Réseau ────────────────────────────────────────────────────────────────────
NOP_APP_PORT={{ nop_app_port }}

# ── Base de données ───────────────────────────────────────────────────────────
NOP_DB_NAME={{ nop_db_name }}
NOP_DB_SUPERUSER={{ nop_db_superuser }}
NOP_DB_USER={{ nop_db_user }}

# ── Secrets (chiffrés dans ansible-vault) ─────────────────────────────────────
NOP_DB_SUPERUSER_PASSWORD={{ nop_db_superuser_password }}
NOP_DB_PASSWORD={{ nop_db_password }}
